.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient);
  color: #fff;
  padding: 0 24px;
  box-sizing: border-box;
  height: 70px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  position: relative;
  z-index: 4;
}
.logo, .header > a {
  height: 50px;
}
.profile {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}