body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --red: #d56;
  --orange: #ffaf7b;
  --darkorange: #d76d77;
  --purple: #302b63;
  --darkpurple: #0c044c;
  /* --gradient: linear-gradient(100deg, #3a1c71, #814385, #d76d77, #ffaf7b); */
  --gradient: linear-gradient(100deg, var(--darkpurple), #672b6a, #d76d77, var(--orange));
  --gradient-vert: linear-gradient(180deg, var(--darkpurple), var(--purple));
  --gradient-horiz: linear-gradient(90deg, var(--darkpurple), var(--purple));
  --gradient-landing: linear-gradient(15deg, #0f0c29,var(--purple));
  --shadow1: 0 2px 8px #ddd,0 0 0 1px rgba(0,0,0,0.03);
}
