.contain {
  background: white;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 6px 0;
  box-shadow: var(--shadow1);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.contain:hover {
  background: #f8f8f8;
}
.active {
  composes: contain;
  width: calc(100% + 26px);
  border-radius: 6px 0 0 6px;
  background: var(--darkpurple);
  color: white;
}
.active:hover {
  background: var(--purple);
}
.contain > h4 {
  margin: 0;
}
.contain > p {
  margin: 0;
}