.contain {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 0;
}
.modal {
  background: white;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 36px;
  box-sizing: border-box;
  width: 95%;
  max-width: 300px;
  margin-bottom: 100px;
}